{% extends 'aplication/index.html' %}
{% load static %} 

{% block titulo %}
Acerca de
{% endblock titulo %} 

{% block contenido %}

    <h3>
        Acerca de mi...
    </h3>

    <p>
        Mi nombre es Facundo, tengo 27 años y empece a programar hace dos años por cuenta propia para un cambio de vida.
    </p>
    <p>
        Estudiaba ingenieria, luego de 3 años me cambie a algo que me apasionaba, diseño industrial, pero que debido a la industria del pais
        mi carrera no iba a ser como yo la soñaba. 
    </p>
    <p>
        Frustrado y a la vez cansado del trabajo de oficina de 8hs diarias, quise cambiar y decidi darle la oportunidad que siempre le negue a programacion.
        Empece con Java en cursos de Youtube y fue amor a primera vista, luego segui con Udemy. Despues, opte por Coderhouse para un programa mas ordenado ya que me faltaba tiempo.
        En Coder estudie Desarrollo web, JavaScript y React.js, al mismo tiempo que seguia estudiando JS con el libro "Eloquent Java Script"
    </p>
        Finalmente, deje mi trabajo, la universidad y me dedique a estudiar todos los dias y enviar curriculums a todas partes, todos los dias, sin descanso, hasta que al
        final logre conseguir mi primer trabajo!
    </p>
    <p>
        Hoy en dia, trabajo para Solvd, una empresa que brinda distintos servicios a sus clientes. En ella, trabajo como software developer engineer in test (SDET) para Reddit
    </p>
    <p>
        Decidi hacer el curso de Python porque me di cuenta que una vez que "salis a la cancha", el aprendizaje es constante, dia a dia tenes que utilizar nuevas tecnologias,
        nuevos lenguajes, etc. Estaba muy interesado en Python tanto por su simpleza, la cual es muy atractiva para code challenges o entrevistas, asi como para sus distintas 
        aplicaciones posibles.
    </p>
    <p>
        El curso me parecio excelente, tanto el profe como los tutores. Pido mis disculpas por haber estado casi inactivo en las clases y mirar las grabaciones de manera asincronica.
        La falta de tiempo me llevo a tomar esa modalidad. De todas maneras, pude apreciar el amor y la dedicacion de todo el equipo y las ganas de que a todos les vaya bien.
        Y otra cosa no menos importante, y que yo en lo personal valore mucho, es que son personas con gran experiencia y conocimientos, se nota, pero aun asi las clases y la dedicacion 
        hacia el curso fue de una manera humilde y completamente enfocada para el bien de todos.
        Aprecio mucho eso y voy a atesorar las grabaciones de este curso! Un placer haber podido tener esta comision, gracias!
    </p>

    <p>
        PD: Me hubiese encantado poner todo mi empeño para crear un proyecto final distinto y no tan aburrido, pero por tiempos y la vida, tuve que limitarme a lo basico :c
    </p>
    
{% endblock contenido %}