{% extends 'aplication/index.html' %}
{% load static %}


{% block titulo %}
Disco {{ object.id }}
{% endblock titulo %}

{% block contenido %}
<h2>Disco: {{object}}</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Artista</th>
            <th>Album</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ object.id }}</td>
        <td>{{ object.artista }}</td>
        <td>{{ object.album }}</td>
        <td>{{ object.precio }}</td>
    </tr>
    </tbody>
</table>
{% endblock contenido %}