{% extends 'aplication/index.html' %}
{% load static %}


{% block titulo %}
Remeras
{% endblock titulo %}

{% block contenido %}
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Modelo</th>
            <th>Color</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
    {% for remera in remera_list %}
    <tr>
        <td>{{ remera.id }}</td>
        <td>{{ remera.modelo }}</td>
        <td>{{ remera.color }}</td>
        <td>{{ remera.precio }}</td>

        <td>
            <a href="{% url 'detail_remera' remera.id %}" class="btn btn-primary">Info</a>
            <a href="{% url 'update_remera' remera.id %}" class="btn btn-primary">Modificar</a>
            <a href="{% url 'delete_remera' remera.id %}" class="btn btn-danger">X</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{% url 'create_remera' %}" class="btn btn-primary btn-lg">Cargar nuevo</a>
{% endblock contenido %}